doctype html

html
    head
        title My site - #{title}
        block styles
            link(rel='stylesheet', href='css/bootstrap.min.css')

    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container-fluid
                a.navbar-brand(href='/') Navbar
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='/') Home
                    li.nav-item
                        a.nav-link(href='/users') Lista de usuarios
                    li.nav-item
                        a.nav-link(href='/permissions') Permisos

        
        block content
        block foot
            #footer
                p some footer content